extends ../layouts/main-layout.pug

block content 
    main
        ul 
            for product in products 
                li 
                    p #{product.title} (#{product.cartItem.quantity})
                    form(action="/delete-cart" , method="POST")
                        button.btn(type="submit") Delete
                        input(type="hidden" value=product.id name="id")
                        input(type="hidden" value=product.price name="price")
        form(action="/create-order", method="POST")
            button(type="submit") Checkout
